body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
 background-color: darkgray;
position: fixed;
padding: 4px;
width: 100%;
z-index: 10;
text-align: center;
margin-top: -10px;

}

nav ul{

    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 8px;
}

nav ul li a {

    text-decoration: none;
    font-size: 1.5rem;
    text-transform: lowercase;
    color: #222;
    transition: 0.3s;
}

nav ul li a:hover{
    background-color: rgb(239, 246, 55);
    padding: 2px 7px;
    border-radius: 15px;
}
header{
position: fixed;
background-color: blue;
padding: 2px;
width: 100%;
height: 47px;
z-index: 10;
text-align: center;
margin-top: 40px;
 }

 header h1{
    text-transform: uppercase;
    font-size: 6.6vh;
    font-weight: bold;
    display: block;
    padding: 4px 0px;
    color:  #fff;
    text-shadow: -2px -1px 12px;
 }

.Welcom{
max-width: 100%;
width: auto;
 background-color: #444;
position: relative;
margin: 10px auto;
height: 570px;

}

.Welcom img{
    position: absolute;
    top: 29.5%;
    left: 64%;
    width: 250px;
    height: 400px;

}

.Welcom h3{
    font-size: 5.8vh;
    text-transform: uppercase;
    position: absolute;
    left: 3%;
    top: 36%;
    color: white;
    display: block;
}

.Welcom h3 span{
    font-weight: bold;
    color: #0062ff;
}



/*main content style*/


main.main-content{
    width: 100%;
    max-width: 1000px;
    margin: 50px 15px;

}

section h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #0062ff;
}

section p {
    font-size: 1.4rem;
}

section .section2 {
    display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: start;
      width: 100%;
    
} 
.section-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: start;
    justify-items: stretch;
    gap: 20px;
      background-color: #444;
margin-left: 10%;
    
}

.section-images img{
    max-width: 100%;
    height: 290px;
}
section img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

/* Div groupes */

section  .group img{
width: 70%;
    margin-left: 20%;
    margin-right: 20%;
    height: 70%;
    
}
.images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
      /* box-shadow: 0 0 5px gray; */
}

.images li {
    list-style-type: none;
    
}
.images li img{
    width: 100%;
    height: 400px;
     gap: 20px;
    border: solid 2px #ddd;
    border-radius: 1rem;
}

/* FAQ */
.faq-section {
    background-color: #444;
    max-width: 880px;
    margin: 50px auto;
    background: #fdfbfb;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.faq-section h1 {
    text-align: center;
    color: #1e2a38;
}

.faq-intro {
    text-align: center;
    color: #555;
    margin-bottom: 30px;
}

.faq-item {
    border-bottom: 1px solid #ddd;
}

.faq-item input {
    display: none;
}

.faq-item label {
    display: block;
    padding: 15px;
    font-weight: bold;
    color: #1e2a38;
    cursor: pointer;
    position: relative;
}

.faq-item label::after {
    content: "+";
    position: absolute;
    right: 20px;
    font-size: 20px;
}

.faq-item input:checked + label::after {
    content: "-";
}

.faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 15px;
}

.faq-item input:checked ~ .faq-content {
    max-height: 200px;
    padding-bottom: 15px;
}

.faq-content p {
    color: #444;
    line-height: 1;
}

/* Section service */
div.services .row{
    display: flex;
    margin-bottom: 2rem;

}

div.service-title{
    display: flex;
}

.service-title img{
    width: 32px;
    margin-right:8px;
    cursor: pointer;
}

div.service-title h3{
    font-size: 1.5rem;
    margin-left: 10px;
    color: #444;
}

div.services p{
    margin-left: 29px;
    margin-right: 20px;
}

.section img{
    max-width: 100%;
    width: 54%;
    max-height: 100%;
    height: 95%;
margin-top: 10%;
    margin-left: 10%;
    border-radius: 15px;
}

/* Class contact-avocats */

section .contact-avocats{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

section .contact-avocats .avocat img {
width: 50%;
height: 250px;

}
section .contact-avocats .avocat h5 a{
    text-decoration: none;
    color: gray;
}
section .form{
    margin-right: 10%;
}

 .sectionform{
    position: relative;
    background-image:url(../Images/image1.jpg);
    background-size: cover;
    background-position: center;
   min-height: 100%;
   height: 100%;
}
section .form{
    position: absolute;
    height: 65px;
     width: 69%;
    right: 10%;
    bottom: 80%;
    left: 50%;

}
 
section form{
    border: solid 2px #ddd;
    border-radius: 19px;
    width:60%;
    min-height: 10%;
    padding: 12px;
    background-color: #0863f4a8;
}

.form label{
    color:white;
    padding: 8px;
    font-size: 1.3rem;
     resize: none;
}

select{
    background-color: white ;
    width: 100%;
    padding:6px;
    margin: 4px 0;
    font-size:1.1rem;
    border: 2px solid #ddd;
    resize: none;
}

form input[type='text'], form input[type='email'], form input[type='tel'],form input[type='date'], form textarea{
    padding: 6px;
    font-size: 1.1rem;
    width: 100%;
    border: solid 2px #ddd;
    margin: 2px 2px;
    resize: none;
}

form input[type='submit']{
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: capitalize;
    border: none;
    background-color: #fff;
    color: #0062ff;
    padding: 10px 24px;
    border-radius: 2rem;
    transition: 0.2s;
margin-left: 20%;
margin-right: 20%;
margin-top: 5px;
}

form input[type='submit']:hover{
    background-color: darkgray;
}

.whatsapp{
    display: flex;
    justify-content: center;
    justify-items: center;
    right: 30%;
    left: 30%;
}

.whatsapp img.logo{
    height: 55px; 
    width: 58%;
     justify-items: center;
     right: 50%;
       align-items: center;
       
     
}


.whatsapp span.phone{
    
}
.whatsapp span.phone a{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    /* align-items: center; */
    text-decoration: none;
    padding-bottom: 20% ;
    padding-top: 20%;
    

}

/* div.form{

    position: relative;
}

div.form form{

    position: absolute;
    bottom: 23%;
    left: 50%;
} */


footer{
    width:100%;
    background-color:#0062ff ;
    color: #fff;
    margin-bottom:-10%;
}

footer p{
    font-size: 1.2rem;
    text-align: center;
    padding: 15px 0;
}

footer p a{

    text-decoration: none;
    color: #ddd;
    font-weight: bold;
}


footer i{
    cursor: pointer;
}


/* Responsive */

@media screen and (max-width: 943px){

/* responsite du main.main-content */

main.main-content{
    width: 100%;
    max-width: 1000px;
    margin: 50px 15px;

}


/* FAQ */
.faq-section {
    background-color: #444;
    max-width: 880px;
    margin: 50px auto;
    background: #fdfbfb;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.faq-section h1 {
    font-size: 3vw;
    text-align: center;
    color: #1e2a38;
}
.faq-intro {
    font-size: 2vw;
    text-align: center;
    color: #555;
    margin-bottom: 30px;
}

.faq-item {
    border-bottom: 1px solid #ddd;
}

.faq-item input {
    display: none;
}

.faq-item label {
    display: block;
    padding: 15px;
    font-weight: bold;
    color: #1e2a38;
    cursor: pointer;
    position: relative;
    font-size: 2vw;
}

.faq-item label::after {
    content: "+";
    position: absolute;
    right: 20px;
    font-size: 20px;
}

.faq-item input:checked + label::after {
    content: "-";
}

.faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 15px;
}

.faq-item input:checked ~ .faq-content {
    max-height: 200px;
    padding-bottom: 15px;
}

.faq-content p {
    color: #444;
    line-height: 1;
}

    /* form */

section .form{
    margin-right: 10%;
}

 .sectionform{
    position: relative;
    background-image:url(../Images/image1.jpg);
    background-size: cover;
    background-position: center;
   min-height: 100%;
   height: 100%;
}
section .form{
    position: absolute;
    height: 90px;
    /* margin-top: 40%; */
    /* top: 16%; */
    right: 10%;
    bottom: 80%;
    left: 50%;

}

section .form{
    width: 69%;
}
 
section form{
    border: solid 2px #ddd;
    border-radius: 19px;
    width:60%;
    min-height: 10%;
    padding: 12px;
    background-color: #0863f4a8;
}

.form label{
    color:white;
    padding: 8px;
    font-size: 1.3rem;
     resize: none;
}

select{
    background-color: white ;
    width: 100%;
    padding:6px;
    margin: 4px 0;
    font-size:1.1rem;
    border: 2px solid #ddd;
    resize: none;
}

form input[type='text'], form input[type='email'], form input[type='tel'],form input[type='date'], form textarea{
    padding: 6px;
    font-size: 1.1rem;
    width: 100%;
    border: solid 2px #ddd;
    margin: 2px 2px;
    resize: none;
}

form input[type='submit']{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    border: none;
    background-color: #fff;
    color: #0062ff;
    padding: 10px 24px;
    border-radius: 2rem;
    transition: 0.2s;
margin-left: 20%;
margin-right: 20%;
}

form input[type='submit']:hover{
    background-color: darkgray;
}

.whatsapp{
    display: flex;
    justify-content: center;
    justify-items: center;
    right: 30%;
    left: 30%;
}

.whatsapp img.logo{
    height: 40px; 
    width: 54%;
     justify-items: center;
     right: 50%;
       align-items: center;
       
     
}


.whatsapp span.phone{
    
}
.whatsapp span.phone a{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    /* align-items: center; */
    text-decoration: none;
    padding-bottom: 20% ;
    padding-top: 20%;
    

}


}

@media screen and (max-width: 900px){


    *{
        margin: 0;
        padding: 0;
    }
.welcom{
max-width: 100% !important;
width: 100%;
/* background-color:white; */
 background-color: #444;
position: relative;
margin: 10px auto;
height: 570px;
margin-bottom: 20%;

    }

.Welcom h3{
    font-size: 5.2vh;
    text-transform: uppercase;
    position: absolute;
    left: 2%;
    top: 32%;
    /* color: #333; */
    color: white;
    display: block;
}

.Welcom img{
    max-width: 100%;
    position: absolute;
    top: 29.5%;
    left: 70%;
    width: 200px;
    height: 240px;

}

/* margin et un padding dans le corps du travil quand on est arrivé à 900px. main */

main.main-content{
    width: 100%;
    max-width: 1000px;
    margin: 50px 15px ;

}


/* Centrer la parties profiles des avocats et associés  */

.section-images{
    display: grid;
    grid-template-columns: repeat(5, 1fr) !important;
    justify-content: start;
    justify-items: stretch;
    gap: 20px;
      background-color: white;

    
}

.section-images img{
    max-width: 100%;
    height: 270px;
}
   

/* Experience */
section img{
/* Background dans tous les img qui ce trouve dans un section  */
    background-color: #444;
}

.images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 5%;
}

.images li {
    list-style-type: none;

    
}
.images li img{
    max-width: 100%;
    width: 99%;
    height: 350px;
     gap: 10px;
    border: solid 2px #ddd;
    border-radius: 1rem;
}




.section img{
    max-width: 100%;
    width: 50%;
    height: 80%;
    top: 20%;
    margin-left: 12%;
    margin-top: 14%;
    border-radius: 15px;

}

/* ssection background dans tous les images de la classe ssection */

.ssection img{
    background-color: white;
}



/* form */
 
section .form{
    margin-right: 10%;
}

 .sectionform{
    position: relative;
    background-image:url(../Images/image1.jpg);
    background-size: cover;
    background-position: center;
   min-height: 100%;
   height: 100%;
}
section .form{
    position: absolute;
    height: 90px;
    /* margin-top: 40%; */
    /* top: 16%; */
    right: 10%;
    bottom: 80%;
    left: 50%;

}

section .form{
    width: 69%;
}
 
section form{
    border: solid 2px #ddd;
    border-radius: 19px;
    width:60%;
    min-height: 10%;
    padding: 12px;
    background-color: #0863f4a8;
}

.form label{
    color:white;
    padding: 8px;
    font-size: 1.3rem;
     resize: none;
}

select{
    background-color: white ;
    width: 100%;
    padding:6px;
    margin: 4px 0;
    font-size:1.1rem;
    border: 2px solid #ddd;
    resize: none;
}

form input[type='text'], form input[type='email'], form input[type='tel'],form input[type='date'], form textarea{
    padding: 6px;
    font-size: 1.1rem;
    width: 100%;
    border: solid 2px #ddd;
    margin: 2px 2px;
    resize: none;
}

form input[type='submit']{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    border: none;
    background-color: #fff;
    color: #0062ff;
    padding: 10px 24px;
    border-radius: 2rem;
    transition: 0.2s;
margin-left: 20%;
margin-right: 20%;
}

form input[type='submit']:hover{
    background-color: darkgray;
}

.whatsapp{
    display: flex;
    justify-content: center;
    justify-items: center;
    right: 30%;
    left: 30%;
}

.whatsapp img.logo{
    height: 40px; 
    width: 54%;
     justify-items: center;
     right: 50%;
       align-items: center;
       
      background-color: #619eff7a;
      border-radius: 15px;
}


.whatsapp span.phone{
    
}
.whatsapp span.phone a{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    /* align-items: center; */
    text-decoration: none;
    padding-bottom: 20% ;
    padding-top: 20%;
    

}

    
}




@media screen and (max-width:840px){

    
.section-images img{
    max-width: 100%;
    height: 30%;  
}

.section2 .section-image img{
    width: 220px !important;
    height: 250px !important;

}


}
@media screen and (max-width:710px){


 .welcom{
max-width: 100%;
width: 100%;
background-color: white !important;
position: relative;
margin: 10px auto;
height: 570px;
margin-bottom: 20%;

    }
    .welcom img{
        background-color: #555;
        border-radius: 15px;
    }

.Welcom h3{
    font-size: 5vh;
    text-transform: uppercase;
    position: absolute;
    left: 2%;
    top: 26%;
    color: #333;
    display: block;
}
 



.section-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
      background-color: white;

    
}

.section-images img{
    max-width: 100%;
    height: 10%;
}


/* experience */

 .images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 2%;
}

.images li {
    list-style-type: none;

    
}
.images li img{
    max-width: 100%;
    width: 99%;
    height: 320px;
     gap: 10px;
    border: solid 2px #ddd;
    border-radius: 1rem;
}  

}


@media screen and (max-width:650px){

.welcom img{
    max-width: 100%;
    position: absolute;
    top: 48% !important;
    left: 58% !important;
    width: 200px;
    height: 240px;

}


.section2 .section-image img{
    width: 140px !important;
    height: 152px !important;

}

  .section  .group img{
width: 79%;
    margin-left: 30%;
    margin-right: 30%;
    height: 40vh;
    
}

.section-images img{
    max-width: 100%;
    height: 30%;
}

 
}



@media screen and (max-width:570px){
  section  .group img{
width: 70%;
    margin-left: 30%;
    margin-right: 30%;
    height: 40vh;
    
}

/* form */

section .form{
    height: 200px;
}
 .form form{
    margin-top: 20%;
    margin-bottom: 3%;
    border-radius: 19px;
    width:56vw;
    padding: 15px;
    background-color: #0863f4a8;
 }


 form input[type='text'], form input[type='email'], form textarea{
    padding: 8px;
    font-size: 1.1rem;
    width: 100%;
    border: solid 2px #ddd;
    margin: 3px 0;
    resize: none;
}

form input[type='submit']{
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    border: none;
    background-color: #fff;
    color: #0062ff;
    padding: 10px 15px;
    border-radius: 2rem;
    transition: 0.2s;
margin-left: 20%;
margin-right: 20%;
margin-top: 2px;
}

form input[type='submit']:hover{
    background-color: darkgray;
}

.whatsapp{
    display: flex;
    justify-content: center;
    justify-items: center;
    right: 30%;
    left: 30%;
}

.whatsapp img.logo{
    height: 40px; 
    width: 63%;
     justify-items: center;
     right: 50%;
     align-items: center;
      background-color: #619eff7a;
    
}


.whatsapp span.phone a{
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    /* align-items: center; */
    text-decoration: none;
    padding-bottom: 20% ;
    padding-top: 20%;
    

}
/* 
div.form{

    position: relative;
}

div.form form{

    position: absolute;
    bottom: 40%;
    left: 50%;
}
  */
}


@media screen and (max-width:545px){

    /* navbar  */

    nav{
 background-color: darkgray;
position: fixed;
padding: 4px;
width: 100%;
z-index: 10;
text-align: center;
margin-top: -10px;

}

nav ul{

    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 5px;
}

nav ul li a {

    text-decoration: none;
    font-size: 3vw;
    text-transform: lowercase;
    color: #222;
    transition: 0.3s;
}

nav ul li a:hover{
    background-color: rgb(239, 246, 55);
    padding: 2px 7px;
    border-radius: 15px;
}
/* Header */
header{
position: fixed;
background-color: blue;
padding: 1vh;
width: 100%;
height: 50px;
z-index: 10;
text-align: center;
margin-top: 5vh;
 }

 header h1{
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: bold;
    display: block;
    padding: 2px 15px;
    color:  #fff;
    text-shadow: -2px -1px 12px;
 }



  section  .group img{
width: 70vw;
    margin-left: 30%;
    margin-right: 30%;
    height: 60vh;
    
}
 
}

@media screen and (max-width: 900px){

.welcom{
max-width: 100vw;
width: 100%;
/* background-color:white; */
 background-color: #444;
position: relative;
margin: 10px auto;
height: 544px;
margin-bottom: 20%;

    }


.Welcom img{
    position: absolute;
    top: 45%;
    left: 70%;
    width: 200px;
    height: 300px;
}


.section-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: start;
    justify-items: stretch;
    gap: 20px;
      background-color: white;

    
}

.section-images img{
    max-width: 100%;
    height: 290px;
}

}
@media screen and (max-width: 388px){
.Welcom img{
    position: absolute;
    top: 55% !important;
    left: 85%;
    width: 200px;
    height: 240px;
    border-radius: 50%;
     background-color: #444;
}


}

@media screen and (max-width: 340px){
.Welcom img{
    position: absolute;
    top: 50%;
    left: 85%;
    width: 200px;
    height: 240px;
    border-radius: 50%;
     background-color: #444;
}

  .Welcom h3{
    position: absolute;
    left: 20px;
    top: 20%;
  }
    

}

@media screen and (max-width: 678px){
  .Welcom h3{
    left: 20px;
    top: 23%;
  }



}



@media screen and (max-width: 665px){
 .welcom{
max-width: 100vw;
width: 100%;
background-color:white;
position: relative;
margin: 10px auto;
height: 570px;
margin-bottom: 30%;

    }

.welcom img{
    margin-right: 30%;
}

    /* section .form{
    height: 200px;
}
 .form form{
    margin-top: 20%;
    margin-bottom: 3%;
    border-radius: 19px;
    width:56%;
    padding: 15px;
    background-color: #0863f4a8;
 }


 form input[type='text'], form input[type='email'], form textarea{
    padding: 6px;
    font-size: 1.1rem;
    width: 100%;
    border: solid 2px #ddd;
    margin: 3px 0;
    resize: none;
}

form input[type='submit']{
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    border: none;
    background-color: #fff;
    color: #0062ff;
    padding: 10px 10px;
    border-radius: 2rem;
    transition: 0.2s;
margin-left: 20%;
margin-right: 20%;
margin-top: 2px;
}

form input[type='submit']:hover{
    background-color: darkgray;
}

.whatsapp{
    display: flex;
    justify-content: center;
    justify-items: center;
    right: 30%;
    left: 30%;
}

.whatsapp img.logo{
    height: 38px; 
    width: 60%;
     justify-items: center;
     right: 50%;
     align-items: center;
      background-color: #619eff7a;
    
}


.whatsapp span.phone a{
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding-bottom: 20% ;
    padding-top: 20%;
    

}

div.form{

    position: relative;
}

div.form form{

    position: absolute;
    bottom: 40%;
    left: 50%;
} 
 */



  
section .form{
    margin-right: 10%;
}

 .sectionform{
    position: relative;
    background-image:url(../Images/image1.jpg);
    background-size: cover;
    background-position: center;
   min-height: 100%;
   height: 100%;
}
section .form{
    position: absolute;
    height: 90px;
    /* margin-top: 40%; */
    /* top: 16%; */
    right: 10%;
    bottom: 80%;
    left: 50%;

}

section .form{
    width: 69%;
}
 
section form{
    border: solid 2px #ddd;
    border-radius: 19px;
    width:60%;
    min-height: 10%;
    padding: 12px;
    background-color: #0863f4a8;
}

.form label{
    color:white;
    padding: 8px;
    font-size: 1.3rem;
     resize: none;
}

select{
    background-color: white ;
    width: 100%;
    padding:6px;
    margin: 4px 0;
    font-size:1.1rem;
    border: 2px solid #ddd;
    resize: none;
}

form input[type='text'], form input[type='email'], form input[type='tel'],form input[type='date'], form textarea{
    padding: 6px;
    font-size: 1.1rem;
    width: 100%;
    border: solid 2px #ddd;
    margin: 2px 2px;
    resize: none;
}

form input[type='submit']{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    border: none;
    background-color: #fff;
    color: #0062ff;
    padding: 10px 24px;
    border-radius: 2rem;
    transition: 0.2s;
margin-left: 30%;
margin-right: 30%;
}

form input[type='submit']:hover{
    background-color: darkgray;
}

.whatsapp{
    display: flex;
    justify-content: center;
    justify-items: center;
    right: 30%;
    left: 30%;
}

.whatsapp img.logo{
    height: 40px; 
    width: 54%;
     justify-items: center;
     right: 50%;
       align-items: center;
       
      background-color: #619eff7a;
      border-radius: 15px;
}


.whatsapp span.phone{
    
}
.whatsapp span.phone a{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    /* align-items: center; */
    text-decoration: none;
    padding-bottom: 20% ;
    padding-top: 20%;
    

}


}