
body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Anpeche sit la depase lajè ekran an */
html,
body{
    overflow-x: hidden;
}

/* Tout imaj yo adapte ak gwosè ekran */
img{
    max-width:100%;
    height:auto;
    display:block;
}

/* Evite div yo depase ekran */
*{
    max-width:100%;
}





nav{
 background-color:#0d0d0d;
position: fixed;
padding: 4px;
width: 100%;
z-index: 10;
text-align: center;
margin-top: -10px;

}

nav ul{

    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 8px;
}

nav ul li a {

    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    color:  #d4af37;
    transition: 0.3s;
}

nav ul li a:hover{
    background-color:  #d4af37;
    padding: 2px 7px;
    border-radius: 15px;
    color: white;
}
header{
border-top: 2px solid  #d4af37;
position: fixed;
background-color:#0d0d0d ;
padding: 2px;
width: 100%;
height: 50px;
z-index: 10;
text-align: center;
margin-top: 36px;
 }

 header h1{
    text-transform: uppercase;
    font-size: 6.6vh;
    font-weight: bold;
    display: block;
    padding: 4px 0px;
    color:  #fff;
    text-shadow: -2px -1px 12px;
 }

.Welcom{
max-width: 100%;
width: 100%;
 background-color: #1a1a1a;
position: relative;
margin: 10px 0px;
height: 570px;

}

.Welcom img{
    position: absolute;
    top: 29.5%;
    left: 64%;
    width: 250px;
    height: 400px;

}

.Welcom h3{
    font-size: 5.8vh;
    text-align: justify;
    text-transform: uppercase;
    position: absolute;
    left: 3%;
    top: 36%;
    color: white;
    display: block;
}

.Welcom h3 span{
    font-weight: bold;
    color:#d4af37 ;
}

.stats{
    position: absolute;
    width:200px;
    left: 16%;
    margin-top: 15%;
}

.stats-section{  
    padding:80px 40px;
    background:#111827;
    color:#fff;
}

.stats-title{
    text-align:center;
    margin-bottom:20px;
}

.stats-title h2{
color: #d4af37 ;
    font-size:30px;
    font-family:Georgia, serif;
    font-weight:bold;
    transform: translateX(25px);
}




.line-icon{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:15px;
    margin-top:20px;
    color:#c79a4b;
    font-size:25px;
    transform: translateX(25px);
}

.line-icon span{
    width:50px;
    height:2px;
    background:#c79a4b;
}

.stats-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
}

.stats-column{
    display:flex;
    flex-direction:column;
    gap:40px;
}

.divider{
    width:2px;
    height:240px;
    background:#c79a4b;
}

.stat-box{
    display:flex;
    align-items:center;
    gap:20px;
}

.icon{
    font-size:20px;
}

.text h3{
    font-size:30px;
    font-weight:700;
}

.text p{
    font-size:23px;
    color:#191818;
}



/*main content style*/


main.main-content{
    width: 100%;
    max-width: 1040px;
    margin: 40px 2px ;

}

section  .apropos{
    display: flex;
    gap: 250px;
    margin-top: 60px;
}

.section .apropos img{
    width: 40%;
    height: 280px;
    margin-top: -8px;
}

section h2 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color:  #d4af37;
    font-family:Georgia, serif;
    transform: translateX(125px);
}

section p {
    font-size: 1.4rem;
}


.section-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
   background-color: rgba(0, 0, 0, 0.842);
margin-left: 10%;
    
}

details{
    padding: 10px;
}
p{
    color: black;
}

strong{
    color: white;
}

details span{
    color: white;
}

details p{
    color: white;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 1.2rem;
}


.section-images img{
    max-width: 100%;
    height: 290px;
}
section img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

/* Div groupes */

section  .group img{
width: 70%;
margin-left: 20%;
margin-right: 20%;
height: 70%;
    
}
.images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
      /* box-shadow: 0 0 5px gray; */
}

.images li {
    list-style-type: none;
    
}
.images li img{
    width: 100%;
    height: 400px;
     gap: 20px;
    border: solid 2px #ddd;
    border-radius: 1rem;
}

/* FAQ */
.faq-section {
    transform: translateX(60px);
    background-color: #444;
    max-width: 880px;
    margin: 50px auto;
    background: #fdfbfb;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.faq-section h1 {
    text-align: center;
    color: #1e2a38;
}

.faq-intro {
    text-align: center;
    color: #555;
    margin-bottom: 30px;
}

.faq-item {
    border-bottom: 1px solid #ddd;
}

.faq-item input {
    display: none;
}




.faq-item label {
    display: block;
    padding: 15px;
    font-weight: bold;
    color: #1e2a38;
    cursor: pointer;
    position: relative;
}

.faq-item label::after {
    content: "+";
    position: absolute;
    right: 20px;
    font-size: 20px;
}

.faq-item input:checked + label::after {
    content: "-";
}

.faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 15px;
}

.faq-item input:checked ~ .faq-content {
    max-height: 200px;
    padding-bottom: 15px;
}

.faq-content p {
    color: #444;
    line-height: 1;
}

.Exp{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 110%;
    font-weight: bold;
}

/* Section service */
div.services .row{
    display: flex;
    margin-bottom: 2rem;
    margin-left: 50px;
    gap: 300px;
}

div.service-title{
    display: flex;
    
}

.service-title img{
    width: 32px;
    margin-right:8px;
    cursor: pointer;
}

div.service-title h3{
    font-size: 1.5rem;
    margin-left: 10px;
    color: #444;
}

div.services p{
    margin-left: 29px;
    margin-right: 20px;
}

.section img{
    max-width: 100%;
    width: 54%;
    max-height: 100%;
    height: 95%;
margin-top: 10%;
    margin-left: 10%;
    border-radius: 15px;
}
/* honoraires */
.honoraires{
    padding: 50px;
    background:white;
    text-align: center;
}

.honoriares h2 {
    color:#1c1c1c
    font-size:32px;
}

.intro {
    color:#555;
}

.tableau{
    max-width: 700px;
    margin:30px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px #002;
}

.ligne{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.titre {
    background: #0d0d0d;
    color: #d4af37;
    font-weight: bold;
}

.ligne span{
    width: 50%;
}

/* Class contact-avocats */


section .contact{
    margin-left: 3%;
}

section .contact-avocats{
    transform: translateX(100px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

section .contact-avocats .avocat img {
width: 50%;
height: 250px;

}
section .contact-avocats .avocat h5 a{
    text-decoration: none;
    color: gray;
}

/* Formulaire */



 .sectionform{
    position: relative;
    background-image:url(../Images/image1.jpg);
    background-size: cover;
    background-position: center;
   max-height: 100%;
   height: 100%;
   margin-left: 70px;
}
section .form{
    position: absolute;
    height: 65px;
    width: 69%;
    right: 10%;
    bottom: 80%;
    left: 30%;

}
 
section form{
    border: solid 2px #ddd;
    border-radius: 19px;
    width:60%;
    min-height: 10%;
    padding: 12px;
    background-color: rgba(0,0,0,0.5);
}

.form label{
    color:white;
    padding: 8px;
    font-size: 1.3rem;
     resize: none;
}

select{
    background-color: white ;
    width: 100%;
    padding:6px;
    margin: 4px 0;
    font-size:1.1rem;
    border: 2px solid #ddd;
    resize: none;
}

form input[type='text'], form input[type='email'], form input[type='tel'],form input[type='date'], form textarea{
    padding: 6px;
    font-size: 1.1rem;
    width: 100%;
    border: solid 2px #ddd;
    margin: 2px 2px;
    resize: none;
}

form input[type='submit']{
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: capitalize;
    border: none;
    background-color: #fff;
    color:  #d4af37;
    padding: 10px 24px;
    border-radius: 2rem;
    transition: 0.2s;
margin-left: 35%;
margin-right: 20%;
margin-top: 5px;
}

form input[type='submit']:hover{
    background-color: darkgray;
}

.sectionform h2{
    transform: translateX(-10px);
    color: #d4af37;
    padding: 2;
    font-family: sans-serif;
    font-size: 1.4rem;
margin-bottom: 15px;
margin-top: -5px;
    
}







footer{
    width:100%;
    background-color: #0d0d0d ;
    color: #fff;
    margin-bottom:-10%;
}

footer p{
    font-size: 1.2rem;
    text-align: center;
    padding: 15px 0;
    color: white;
}

footer p a{

    text-decoration: none;
    color: #ddd;
    font-weight: bold;
}


footer .i {
    margin-left:50%;
    transform: translateX(0px);
    cursor: pointer;
    color:  #d4af37;
}


/* Responsive sur desktop(943 a 710) */

@media screen  and (max-width: 1000px){
    .Welcom h3{
    font-size: 5.1vh;
    text-transform: uppercase;
    position: absolute;
    left: 2%;
    top: 32%;
    /* color: #333; */
    color: white;
    display: block;

}

   div.services .row{
        flex-direction:column;
        gap:25px;
        margin-left:0;
    }



    



main.main-content{
    width: 100%;
    max-width: 800px !important;
    margin: 50px 15px;

}


.Welcom{
max-width: 100%;
width: 100%;
 background-color: #1a1a1a;
position: relative;
margin: 10px 0px;
height: 570px;

}
}

@media screen and (max-width: 943px) {

/* responsite du main.main-content */

.Welcom{
max-width: 100%;
width: 100%;
 background-color: #1a1a1a;
position: relative;
margin: 10px 0px;
height: 570px;

}

.Welcom h3{
    font-size: 5.2vh;
    text-transform: uppercase;
    position: absolute;
    left: 2%;
    top: 32%;
    /* color: #333; */
    color: white;
    display: block;
}


main.main-content{
    width: 100%;
    max-width: 700px !important;
    margin: 50px 15px;

}



/* FAQ */
.faq-section {
    background-color: #444;
    max-width: 880px;
    margin: 50px auto;
    background: #fdfbfb;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.faq-section h1 {
    font-size: 3vw;
    text-align: center;
    color: #1e2a38;
}
.faq-intro {
    font-size: 2vw;
    text-align: center;
    color: #555;
    margin-bottom: 30px;
}

.faq-item {
    border-bottom: 1px solid #ddd;
}

.faq-item input {
    display: none;
}

.faq-item label {
    display: block;
    padding: 15px;
    font-weight: bold;
    color: #1e2a38;
    cursor: pointer;
    position: relative;
    font-size: 2vw;
}

.faq-item label::after {
    content: "+";
    position: absolute;
    right: 20px;
    font-size: 20px;
}

.faq-item input:checked + label::after {
    content: "-";
}

.faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 15px;
}

.faq-item input:checked ~ .faq-content {
    max-height: 200px;
    padding-bottom: 15px;
}

.faq-content p {
    color: #444;
    line-height: 1;
}

    /* form */


    



}

@media screen and (max-width: 900px){



    
main.main-content{
    width: 100%;
    max-width:  800px;
    margin: 50px 10px;

}


/* Centrer la parties profiles des avocats et associés  */

.section-images{

    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    justify-content: start;
    justify-items: stretch;
    gap: 20px;
      /* background-color: white; */

    
}

.section-images img{
    max-width: 100%;
    height: 250px;
}
   



/* form */
 
section .form{
    margin-right: 10%;
}

 .sectionform{
    position: relative;
    background-image:url(../Images/image1.jpg);
    background-size: cover;
    background-position: center;
   min-height: 100%;
   height: 100%;
}
section .form{
    position: absolute;
    height: 90px;
    /* margin-top: 40%; */
    /* top: 16%; */
    right: 10%;
    bottom: 80%;
    left: 50%;

}

section .form{
    width: 69%;
}
 
section form{
    border: solid 2px #d4af37;
    border-radius: 19px;
    width:60%;
    min-height: 10%;
    padding: 12px;
    background-color: rgba(0,0,0,0.5);
}

.form label{
    color:white;
    padding: 8px;
    font-size: 1.3rem;
     resize: none;
}

select{
    background-color: white ;
    width: 100%;
    padding:6px;
    margin: 4px 0;
    font-size:1.1rem;
    border: 2px solid #ddd;
    resize: none;
}

form input[type='text'], form input[type='email'], form input[type='tel'],form input[type='date'], form textarea{
    padding: 6px;
    font-size: 1.1rem;
    width: 100%;
    border: solid 2px #ddd;
    margin: 2px 2px;
    resize: none;
}

form input[type='submit']{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    border: none;
    background-color: #fff;
    color: #0062ff;
    padding: 10px 24px;
    border-radius: 2rem;
    transition: 0.2s;
margin-left: 20%;
margin-right: 20%;
}

form input[type='submit']:hover{
    background-color: darkgray;
}




    
}


@media screen and (max-width:843px){
  .Welcom{
max-width: 100%;
width: 100%;
 background-color: #1a1a1a;
position: relative;
margin: 10px 0px;
height: 570px;

}
        
    main.main-content{
    width: 100%;
    max-width:  500px !important;
    margin: 50px 10px ;

}
}


@media screen and (max-width:840px){

    
    main.main-content{
    width: 100%;
    max-width:  500px;
    margin: 50px 10px ;

}
.section-images img{
    max-width: 100%;
    height: 30%;  
}

.section2 .section-image img{
    width: 220px !important;
    height: 250px !important;

}


}





/* ===========================
   TABLET (768px)
=========================== */

@media (max-width:768px){

    /* Hero Section */

    .Welcom{
        height:auto;
        padding:170px 20px 50px;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        text-align:center;
    }

    .Welcom h3{
        position:static;
        font-size:2rem;
        text-align:center;
        margin-bottom:30px;
    }

    .Welcom img{
        position:static;
        width:250px;
        height:auto;
    }

    /* Tableau Statistique */

    .stats-container{
        flex-direction:column;
        gap:30px;
    }

    .divider{
        display:none;
    }

    .stats-column{
        width:100%;
        align-items:center;
    }

    /* Apropos */

    section .apropos{
        flex-direction:column;
        gap:30px;
        align-items:center;
    }

    .section .apropos img{
        width:90%;
    }

    /* Galerie Avocats */

    .section-images{
        grid-template-columns:repeat(2,1fr);
        margin-left:0;
    }

    /* Services */

    div.services .row{
        flex-direction:column;
        gap:25px;
        margin-left:0;
    }

    /* Contact Avocats */

    section .contact-avocats{
        grid-template-columns:repeat(2,1fr);
        gap:20px;
        transform:none;
    }

    /* Formulaire */

    .sectionform{
        margin-left:0;
    }

    section .form{
        position:static;
        width:100%;
    }

    section form{
        width:95%;
        margin:auto;
    }

}


/*== MOBILE (480px)==*/

@media (max-width:480px){

    /* Navbar */

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
        gap:10px;
    }

    nav ul li a{
        font-size:.9rem;
    }

    /* Titre */

    header h1{
        font-size:1.3rem;
    }

    /* Hero */

    .Welcom{
        padding-top:150px;
    }

    .Welcom h3{
        font-size:1.5rem;
    }

    .Welcom img{
        width:180px;
    }

    /* Profil Avocats */


    .section-images{
        grid-template-columns:1fr;
        display: block;
    }

    /* groupes */
    section  .group img{
width: 70vw;

height: 45%;
    
}

    /* Experience */

    .images{
        grid-template-columns:1fr;
    }

    /* Contact */

    section .contact-avocats{
        grid-template-columns:1fr;
    }

    /* FAQ */

    .faq-section{
        transform:none;
        width:95%;
        padding:20px;
    }

    /* Bouton formulaire */

    form input[type="submit"]{
        width:100%;
        margin:10px 0;
    }

}






